<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- The server that contains the database to backup -->
		<add key="Server" value="localhost"/>

		<!-- The name that the restored database will be given -->
		<add key="DestinationDatabase" value="PNRLiability"/>
		<!-- Connection Credentials.  Default is 'Trusted_Connection=True'-->
		<add key="ConnectionCredentials" value="Trusted_Connection=True"/>
		
		<!-- The directory of blackFile.csv (note that the user under which
             SQL Server runs on the source machine needs to have write access to this)-->
		<add key="Dropbox" value="C:\Users\alaborte\OneDrive - Amadeus Workplace\Desktop\AVL Files\001 Navitaire\MISC\SKL\dropbox"/>
		<!-- The directory into which the backup file will be placed on the destination machine (note that the user under which
             SQL Server runs on the destination machine needs to have write access to this)-->
		<add key="OutputBox" value="C:\Users\alaborte\OneDrive - Amadeus Workplace\Desktop\AVL Files\001 Navitaire\MISC\SKL\output"/>
		
		<!-- Flag indicating whether an attempt should be made to auto-fix orphaned users -->
		<add key="FixOrphanedUsers" value="false"/>
		<!-- Flag indicating whether an attempt should be made to regenerate the master key, 
			this needs to be done when copying the database to a server that lacks the certificate
			on the source database server, https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/sql-server-and-database-encryption-keys-database-engine?view=sql-server-2017 -->
		<add key="RegenerateMasterKey" value="true"/>
		<!-- Flag indicating whether an attempt should be made to regenerate the master key -->
		<add key="PreviousMasterKeyPassword" value="P@sswoRD1"/>
		<!-- Flag indicating whether an attempt should be made to regenerate the master key -->
		<add key="NewMasterKeyPassword" value="P@sswoRD12345"/>
		<!-- Command to be run against the restored database after restoration is complete -->
		<add key="PostRestoreCommand" value=""/>
		<!-- The timeout for all database interactions -->
		<add key="DatabaseTimeout" value="300"/>
	</appSettings>
</configuration>